.u-section-1 .u-sheet-1 {
  min-height: 464px;
}

.u-section-1 .u-table-1 {
  margin: 42px auto 42px 0;
}

.u-block-d0ea-46 {
  background-image: none;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
}

.u-block-d0ea-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 294px;
}

.u-section-2 .u-text-1 {
  margin: 66px auto 0;
}

.u-section-2 .u-text-2 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  margin: 30px auto 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }
}