{% extends "index.html" %}
{% block title %}DGACaps: Home{% endblock %}
{% block section %}
  <section class="u-align-center u-clearfix u-section-1" id="sec-d9dd">
    <p>{{resp}}</p>
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-expanded-width u-table u-table-responsive u-table-1">
        <table class="u-table-entity u-table-entity-1">
          <colgroup>
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <col width="25%">
          </colgroup>
          <thead class="u-palette-4-base u-table-header u-table-header-1">
            <tr style="height: 21px;">
              <th class="u-border-1 u-border-palette-4-base u-table-cell">Column 1 </th>
              <th class="u-border-1 u-border-palette-4-base u-table-cell">Column 2 </th>
              <th class="u-border-1 u-border-palette-4-base u-table-cell">Column 3 </th>
              <th class="u-border-1 u-border-palette-4-base u-table-cell">Column 4 </th>
            </tr>
          </thead>
          <tbody class="u-table-body">
            <tr style="height: 75px;">
              <td class="u-border-1 u-border-grey-30 u-first-column u-grey-5 u-table-cell u-table-cell-5">Row 1</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
            </tr>
            <tr style="height: 76px;">
              <td class="u-border-1 u-border-grey-30 u-first-column u-grey-5 u-table-cell u-table-cell-9">Row 2</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-section-2" id="sec-4c2d">
    <div class="u-align-center u-clearfix u-sheet u-sheet-1">
      <h2 class="u-text u-text-default u-text-1">Download Report</h2>
      <p class="u-text u-text-2">Click here to download the report.</p>
      <a href="#" class="u-border-none u-btn u-button-style u-palette-4-base u-btn-1">Download</a>
    </div>
  </section>
{% endblock %}